body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #EEEEEE;
  margin-top: 0;
}

h1 {
  background-color: #176b87;
  padding: 1.5em;
  margin-top: 0;
}

label{
  display: block;
  margin-bottom: 5px;
  }
 
 
input, select, textarea {
  width: 300px;
  padding: 6px;
  margin-bottom:10px;
  box-sizing: border-box;
  
}

.textAreas{
  vertical-align: middle;
}



.radioName {
  text-decoration: underline;
  padding: 6px;
  margin-bottom: 10px;
}


.radio-group1 input[type="radio"] {
  
  margin-right: 5px;
}

.radio-group1 label{
  margin-right: 15px;
 
}

#submitButton{
  margin: auto;
  float: right;
}

#submit{
  background-color: #64ccc5;
  
}