body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #eeeeee;
}

header {
  background-color: #053b50;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

nav ul li a {
  color: #eeeeee;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #053b50;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1000px) and (min-width: 601px) {
  #content {
    width: 100%;
  }

  #content {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    border-style: hidden;
    vertical-align: middle;
  }
}

@media (max-width: 600px) {
  #content {
    width: 100%;
  }
}
