body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #eeeeee;
}

header {
  background-color: #053b50;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

nav ul li a {
  color: #eeeeee;
  text-decoration: none;
}

section {
  padding: 20px;
}
